body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
}

.header-width-conteiner {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.header-top-menu {
  display: flex;
  align-items: flex-start;
}

.header-top-menu a {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-top-menu a:hover,
.header-top-menu a:focus {
  background-color: #212a3a;
}

.header-top-menu a:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-top h1 {
  margin: 0px;
  width: 220px;
  height: 30px;
}

.header__logo {
  font-size: 24px;
  background-color: #ee3643;
  display: block;
  padding-bottom: 11px;
  padding-top: 13px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  box-shadow: 0 5px 0 0 #b52933;
}

h1 .header__logo:hover,
h1 .header__logo:focus {
  background-color: #ca2c37;
}

h1 .header__logo:active {
  background-color: #ba2732;
}

.form-search {
  background-color: #293449;
  padding-top: 9px;
}

.form-search::before {
  background-image: url(../img/icon-search.svg);
}

.btn--green {
  background-color: #63a63e;
}

.btn--green:hover,
.btn--green:focus {
  background-color: #5fbb2d;
}

.btn--green:active {
  color: rgba(81, 133, 52, 0.5);
  background-color: #518534;
}

.header-mid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.header-mid-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  padding-left: 52px;
  margin-right: auto;
  padding-top: 3px;
}

.header-mid-info {
  width: 270px;
}

.header-mid-info a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding: 9px 43px 9px 64px;
  letter-spacing: 0.8px;
}

.header-mid-info p {
  font-size: 14px;
  color: #32425c;
  font-style: normal;
  line-height: 24px;
  margin-top: 4px;
  margin-left: 9px;
  letter-spacing: 0.07px;
}

.link {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin-left: auto;
}

.link-btn a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.link-btn a:hover,
.link-btn a:focus {
  color: #ee3643;
}

.link-btn a:active {
  color: rgba(0, 0, 0, 0.5);
}

.btn--login {
  padding-left: 47px;
  padding: 10px 26px 11px 47px;
}

.btn--reg {
  padding-left: 24px;
  padding-right: 24px;
  padding: 10px 24px 11px 24px;
}

.navigation {
  padding: 0px;
  margin: 0px;
  margin-bottom: 64px;
}

.navigation__ul {
  display: flex;
  list-style: none;
  background-color: #32425c;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 4px 0 0 #293449;
}

.navigation__ul li {
  flex-grow: 1;
}

.navigation__ul a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 33px;
}

.navigation__ul a:hover,
.navigation__ul a:focus {
  background-color: #293449;
}

.navigation__ul a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.main-menu {
  display: flex;
  flex-direction: column;
  background-position: right;
  background-repeat: no-repeat;
  width: 300px;
  height: 123px;
  margin: 0px;
  margin-bottom: 20px;
}

.main-menu a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 11px;
  padding-bottom: 8px;
  width: 135px;
  border-radius: 2px;
  margin-left: 25px;
  margin-top: 12px;
  text-align: center;
  text-transform: uppercase;
}

.main-menu p {
  padding-bottom: auto;
  margin: 0px;
  padding-top: 21px;
  padding-left: 22px;
}

.main-material {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
}

.main-material a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #e5ac40;
}

.main-tools {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #3bbce3;
}

.main-tools a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #35a9cc;
}

.main-tech {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #dc91d8;
}

.main-tech a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #c682c2;
}

.main-sale {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #8ed78f;
}

.main-sale a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #80c180;
}

.main-delivery {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffc047;
}

.main-menu-list {
  display: flex;
  width: 940px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 59px;
}

.main-menu a:hover,
.main-menu a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-menu a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-menu__vertical {
  display: flex;
  flex-direction: column;
}

.slides-switches {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.slide-radio:last-child {
  display: none;
}

.slide-item__img {
  margin: 0;
}

.slide-title {
  display: none;
}

.slide-title__sub {
  display: none;
}

.slide-btn {
  display: none;
}

.catalog-btn {
  display: none;
}

.catalog-btn {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.catalog-btn:hover,
.catalog-btn:focus {
  background-color: #ca2c37;
}

.catalog-btn:active {
  background-color: #ba2732;
}

.popular-products {
  display: flex;
  background-color: #f9f5f0;
  width: 940px;
  margin-top: 33px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.popular-products h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 28px;
  margin-bottom: 28px;
  margin-top: 30px;
  margin-right: auto;
}

.popular-products a {
  text-transform: uppercase;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 11px 55px 9px 55px;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 26px;
  margin-right: 24px;
}

.catalog_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.catalog_list h3 {
  font-size: 18px;
  line-height: 20px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #eaeaea;
  width: 220px;
  height: 315px;
  margin-bottom: 21px;
}

.catalog-item p {
  margin: 0;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.catalog-item__before-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a9a9a9;
}

.catalog-item a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-image: url(../img/red-button.svg);
}

.popular-brands {
  display: flex;
  background-color: #f9f5f0;
  align-items: flex-start;
  margin-top: 1px;
  margin-bottom: 20px;
}

.popular-brands h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 24px;
  margin-bottom: 29px;
  margin-top: 30px;
  margin-right: auto;
}

.popular-brands a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 10px 69px 10px 69px;
  margin-top: 25px;
  margin-right: 24px;
  text-transform: uppercase;
  border-radius: 3px;
}

.brand {
  margin-bottom: 65px;
}

.brand-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  width: 218px;
  height: 143px;
  margin-bottom: 20px;
}

.brand-item a {
  display: flex;
}

.brand-item:hover,
.brand-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.brand-item:active {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.brand-item:active img {
  opacity: 0.3;
}

.receipt-of-goods {
  background-color: #f5f8fa;
  height: 522px;
}

.guarantee-info,
.credit-info {
  display: none;
}

.service h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding-top: 65px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}

.service p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-top: 26px;
}

.slider-bottom {
  margin-top: 68px;
}

.slider-bottom h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin: 0;
  margin-left: 319px;
  letter-spacing: -0.5px;
}

.slider-bottom p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-left: 319px;
  margin-top: 24px;
}

.delivery-info {
  background-image: url(../img/delivery_auto.png);
  background-repeat: no-repeat;
}

.guarantee-info {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
}

.credit-info {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
}

.credit-btn {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ff5357;
}

.info-contacts__conteiner {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
  margin-bottom: 86px;
}

.info-company h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}

.info-company__top {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-top: 26px;
  letter-spacing: 0.1px;
  padding-bottom: 12px;
}

.info-company__bottom {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-top: 12px;
  letter-spacing: 0.1px;
  padding-bottom: 21px;
}

.delivery-company {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  padding-bottom: 23px;
}

.delivery-company li {
  padding-bottom: 20px;
}

.info-company__btn {
  padding: 11px 40px 10px 40px;
  border-radius: 3px;
}

.info-company a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  letter-spacing: -0.7px;
  padding-bottom: 26px;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 31px;
}

.contacts a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 11px 59px 9px 64px;
  margin-top: 40px;
  border-radius: 3px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top h5 {
  margin: 0px;
}

.footer-bg_top {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background-color: #32425c;
}

.conteiner {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-navigaton-top {
  display: flex;
  list-style: none;
  margin: 0px;
  width: 550px;
  justify-content: space-between;
  padding-top: 38px;
}

.footer__logo {
  display: block;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
  padding: 18px 41px 15px 42px;
  text-transform: uppercase;
  letter-spacing: -0.9px;
}

h5 .footer__logo:hover,
h5 .footer__logo:focus {
  background-color: #ca2c37;
}

h5 .footer__logo:active {
  background-color: #ba2732;
}

.footer-navigaton-top {
  list-style: none;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 49px;
}

.footer-contacts {
  padding-left: 3px;
}

.footer-contacts__item {
  margin: 0px;
}

.footer-navigaton-bottom {
  list-style: none;
  display: flex;
  width: 526px;
  justify-content: space-between;
  margin: 0px;
}

.footer-navigaton-bottom a {
  color: #ffda96;
}

.footer-bg_bottom {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom__flex {
  display: flex;
  align-items: flex-start;
  padding-top: 37px;
  margin-bottom: 16px;
}

.footer-social ul {
  margin: 0;
}

.text-yellow {
  color: #ffd180;
}

.copyright {
  margin-right: auto;
}

.copyright__item {
  margin: 0;
}

.feedback {
  margin-left: auto;
}

.feedback-item {
  margin: 0;
}

.develop {
  margin-right: 14px;
  margin-left: 52px;
}

.develop__item {
  margin: 0;
}

.modal-bg-top {
  background-color: #ffffff;
  background-image: url(../img/form-1.svg);
  background-repeat: no-repeat;
}

.modal-bg-bottom {
  background-color: #f1f1f1;
}

.modal-order {
  color: #ffffff;
  background-color: #ee3643;
}

.modal-shopping {
  color: #000000;
  background: #ffffff;
}

.slidebar {
  display: flex;
}

.sort {
  display: flex;
}

.sort-list {
  display: flex;
}

.page-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  margin: 0;
  margin-top: 59px;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-left: 28px;
  padding-top: 30px;
  padding-bottom: 29px;
  letter-spacing: -0.9px;
}

.filters {
  padding-right: 20px;
}

.filters h4 {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  padding: 10px 150px 10px 18px;
  border-radius: 2px;
  margin: 0;
}

.filter-range {
  margin: 0;
  padding: 0;
}

.price-range {
  height: 166px;
}

.filter-brands {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.filter-list {
  padding: 0;
  padding-top: 14px;
  padding-bottom: 2px;
  margin: 0;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 11px;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 17px;
  padding-bottom: 20px;
}

.filter-power {
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

.filter-spacing {
  letter-spacing: 0.4px;
}

.filter fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:last-of-type {
  border-bottom: none;
}

.form button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
}

.feedback-bg-top {
  background-color: #ffffff;
}

.feedback-bg-buttom {
  background-color: #f4f4f4;
}

.form-item__fb {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.btn {
  text-align: center;
  vertical-align: middle;
}

.sort {
  background-color: #f7f3ec;
  padding-top: 7px;
  padding-left: 19px;
  padding-bottom: 7px;
  margin-bottom: 20px;
}

.sort-title {
  margin: 0;
}

.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-list a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 1;
  text-decoration: underline;
}

.sort-list a:active {
  text-decoration: none;
  color: #ee3643;
}

.pagination-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 67px;
}

.pagination-item {
  padding-right: 9px;
}

.pagination-item a {
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.next-page a {
  padding-left: 31px;
  padding-right: 31px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.devices-info {
  background-color: #f2f6f8;
}

.devices-info__title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-top: 65px;
  letter-spacing: -0.5px;
}

.devices-info p {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 68px;
}



.footer-navigaton-top a:hover,
.footer-navigaton-top a:focus,
.footer-navigaton-bottom a:hover,
.footer-navigaton-bottom a:focus {
  text-decoration: underline;
}

.footer-navigaton-top a:active,
.footer-navigaton-bottom a:active {
  opacity: 0.5;
}

.feedback a:hover,
.feedback a:focus,
.develop a:hover,
.develop a:focus {
  text-decoration: underline;
}

.feedback a:active,
.develop a:active {
  color: #ee3643;
}

.clear-margin-bottom {
  margin-bottom: 0;
}
