body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.position-relative {
  position: relative;
}

.header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
}

.header-width-conteiner {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  position: relative;
  height: 42px;
}

.header-top-menu {
  display: flex;
  align-items: flex-start;
}

.header-top-menu a {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-top-menu__link:hover,
.header-top-menu__link:focus {
  background-color: #212a3a;
}

.header-top-menu__link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-top__link--mark__not__active::after,
.header-top__link--trash__not__active::after {
  content: ": 0";
  position: absolute;
  top: 12px;
  right: 29px;
}

.header-top__link--trash__active::after {
  content: ": 10";
  position: absolute;
  top: 12px;
  right: 27px;
}

.header-top__link--mark {
  position: relative;
}

.header-top__link--mark::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 20px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.header-top__link--mark:hover::before,
.header-top__link--mark:focus::before {
  opacity: 1;
}

.header-top__link--mark:active::before {
  opacity: 0.5;
}

.header-top__link--trash {
  position: relative;
}

.header-top__link--trash::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 20px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  top: 12px;
  left: 18px;
  opacity: 0.3;
}

.header-top__link--trash:hover::before,
.header-top__link--trash:focus::before {
  opacity: 1;
}

.header-top__link--trash:active::before {
  opacity: 0.5;
}

.header-top h1 {
  margin: 0px;
  width: 220px;
  height: 30px;
}

.header__logo {
  font-size: 24px;
  background-color: #ee3643;
  display: block;
  padding-bottom: 11px;
  padding-top: 13px;
  font-size: 24px;
  text-transform: uppercase;
  box-shadow: 0 5px 0 0 #b52933;
  font-weight: 400;
}

h1 .header__logo:hover,
h1 .header__logo:focus {
  background-color: #ca2c37;
}

h1 .header__logo:active {
  background-color: #ba2732;
}

.form-search {
  background-color: #293449;
}

.form-search input[type="text"] {
  box-sizing: border-box;
  width: 270px;
  border: 2px solid #293449;
  padding-left: 46px;
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: #293449;
  color: #ffffff;
  height: 42px;
}

.form-search input[type="text"]:focus {
  box-sizing: border-box;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  position: relative;
}

.form-search::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  top: 12px;
  left: 238px;
  opacity: 0.3;
}

.form-search:hover::before,
.form-search:focus::before {
  opacity: 1;
}

.form-search:active::before {
  fill: #ef3b48;
}

.btn--green {
  background-color: #63a63e;
}

.btn--green:hover,
.btn--green:focus {
  background-color: #5fbb2d;
}

.btn--green:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-top__link--trash__active {
  background-color: #ee3643;
}

.header-mid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.header-mid-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  padding-left: 52px;
  margin-right: auto;
  padding-top: 3px;
  width: 202px;
}

.activ_profile {
  padding-right: 15px;
}

.header-mid-info {
  width: 270px;
}

.header-mid-info a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding: 9px 43px 9px 64px;
  letter-spacing: 0.8px;
}

.header-mid-info p {
  font-size: 14px;
  color: #32425c;
  font-style: normal;
  line-height: 24px;
  margin-top: 4px;
  margin-left: 9px;
  letter-spacing: 0.07px;
}

.link {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin-left: auto;
}

.link-btn a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.link-btn a:hover,
.link-btn a:focus {
  color: #ee3643;
}

.link-btn a:active {
  color: rgba(0, 0, 0, 0.5);
}

.btn--login {
  padding-left: 47px;
  padding: 10px 26px 11px 47px;
  position: relative;
}

.btn--login::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  top: 14px;
  left: 14px;
  opacity: 0.3;
}

.btn--login:hover::before,
.btn--login:focus::before {
  opacity: 1;
}

.btn--login:active::before {
  opacity: 0.3;
}

.btn--reg {
  padding-left: 24px;
  padding-right: 24px;
  padding: 10px 24px 11px 24px;
}

.profile {
  margin-left: auto;
}

.profile-name {
  color: #000000;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
}

.profile-exit {
  fill: #32425c;
}

.profile-link {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  width: 299px;
  margin-left: auto;
}

.profile-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding: 10px 37px 11px 46px;
  position: relative;
}

.profile-name:active {
  color: #cacaca;
}

.profile-name::after {
  content: "";
  position: absolute;
  background-image: url(../img/icon-user.svg);
  width: 21px;
  height: 18px;
  top: 13px;
  left: 13px;
}

.profile-name:hover::after,
.profile-name:focus::after {
  background-image: url(../img/icon-user-active.svg);
}

.profile-name:active::after {
  background-image: url(../img/icon-user.svg);
}

.profile-exit {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0px 11px 0px;
}

.profile-exit:hover path,
.profile-exit:focus path {
  fill: #32425c;
}

.profile-exit:active path {
  fill: #c5c5c5;
}

.profile-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 17px;
  position: relative;
  text-decoration: underline;
}

.profile-item {
  color: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.profile-item:hover,
.profile-item:focus {
  color: #ee3643;
}

.profile-item:active {
  color: #c5cad0;
}

.personal-account::before {
  content: "";
  position: absolute;
  left: 89px;
  top: 9px;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.profile-items {
  margin-right: 32px;
}

.navigation {
  padding: 0px;
  margin: 0px;
  margin-bottom: 64px;
}

.navigation__ul {
  display: flex;
  list-style: none;
  background-color: #32425c;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 4px 0 0 #293449;
}

.navigation__ul li {
  flex-grow: 1;
}

.navigation__ul a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 25px;
  justify-content: center;
}

.navigation__ul a:hover,
.navigation__ul a:focus {
  background-color: #293449;
}

.navigation__ul a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.navigation__ul-item .navigation__ul-first {
  padding-left: 45px;
}

.navigation__ul-item .navigation__ul-last {
  padding-right: 48px;
}

.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.main-menu {
  display: flex;
  flex-direction: column;
  background-position: right;
  background-repeat: no-repeat;
  width: 300px;
  height: 123px;
  margin: 0px;
  margin-bottom: 20px;
  position: relative;
}

.main-menu a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 11px;
  padding-bottom: 8px;
  width: 135px;
  border-radius: 2px;
  margin-left: 25px;
  margin-top: 12px;
  text-align: center;
  text-transform: uppercase;
}

.main-menu p {
  padding-bottom: auto;
  margin: 0px;
  padding-top: 21px;
  padding-left: 22px;
}

.main-material {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-position: bottom 27px right 43px, right;
}

.main-material a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #e5ac40;
}

.main-tools {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-position: bottom 29px right 28px, right;
}

.main-tools a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #35a9cc;
}

.main-tech {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-position: bottom 30px right 31px, right;
}

.main-tech a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #c682c2;
}

.main-sale {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-position: bottom 25px right 45px, right;
}

.main-sale a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #80c180;
}

.main-delivery {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-position: bottom 28px right 31px, right;
}

.main-menu-list {
  display: flex;
  width: 940px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 59px;
}

.main-menu a:hover,
.main-menu a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-menu a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-menu__vertical {
  display: flex;
  flex-direction: column;
}

.slides-switches {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}

.slide-radio:first-child {
  display: none;
}

.slide-item__img {
  margin: 0;
}

.slide-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  margin: 0;
  text-transform: uppercase;
  top: 23px;
  left: 24px;
}

.slide-title__sub {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;
  margin: 0;
  top: 60px;
  left: 25px;
}

.slide-btn {
  display: none;
}

.catalog-btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  position: absolute;
  left: 25px;
  top: 408px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  padding: 11px 45px 9px 49px;
  border-radius: 3px;
}

.catalog-btn:hover,
.catalog-btn:focus {
  background-color: #ca2c37;
}

.catalog-btn:active {
  background-color: #ba2732;
}

.popular-products {
  display: flex;
  background-color: #f9f5f0;
  width: 940px;
  margin-top: 33px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.popular-products h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 28px;
  margin-bottom: 28px;
  margin-top: 30px;
  margin-right: auto;
}

.popular-products a {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 11px 55px 9px 55px;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 26px;
  margin-right: 24px;
}

.catalog_list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.index_page .catalog-item:last-child {
  margin-right: 0;
}

.catalog_page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new flag.png") no-repeat 0 0;
}

.main-menu .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.main-menu .flag-new {
  background: url("../img/new flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item .actions .buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 20px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  top: 51px;
  left: 53px;
  opacity: 0.3;
}

.catalog-item .actions .buy:hover::before,
.catalog-item .actions .buy:focus::before,
.catalog-item .actions .buy:active:before {
  opacity: 1;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .actions .buy:active {
  background-color: #518534;
  border: none;
  width: 135px;
  padding: 10px 0;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
  border-color: #32425c;
}

.catalog-item .actions .bookmark:active {
  border-color: #32425c;
  opacity: 0.3;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .catalog-item__img {
  width: 218px;
  height: 168px;
}

.catalog-item .catalog-item__img img {
  max-width: 100%;
}

.catalog-item h3 {
  font-size: 18px;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 11px;
  letter-spacing: 0.1px;
}

.catalog-item .catalog-item__before-price {
  min-height: 20px;
  margin-top: 7px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .catalog-item__price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 19px;
  padding: 9px 27px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
  font-size: 17px;
}

.catalog-item .catalog-item__price:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -24px;
  width: 0px;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item p {
  margin: 0;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.catalog-item__before-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a9a9a9;
}

.popular-brands {
  display: flex;
  background-color: #f9f5f0;
  align-items: flex-start;
  margin-top: 1px;
  margin-bottom: 20px;
}

.popular-brands h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 24px;
  margin-bottom: 29px;
  margin-top: 30px;
  margin-right: auto;
}

.popular-brands a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 10px 69px 10px 69px;
  margin-top: 25px;
  margin-right: 24px;
  text-transform: uppercase;
  border-radius: 3px;
}

.brand {
  margin-bottom: 65px;
}

.brand-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  width: 218px;
  height: 143px;
  margin-bottom: 20px;
}

.brand-item a {
  display: flex;
  height: 145px;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.brand-item:hover,
.brand-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.brand-item:active {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.brand-item:active img {
  opacity: 0.3;
}

.metabo-brand {
  padding-bottom: 8px;
}

.receipt-of-goods {
  background-color: #f5f8fa;
  height: 522px;
}

.service h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding-top: 65px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}

.service p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-top: 26px;
}

.slider-bottom h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin: 0;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.slider-bottom p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 34px;
}

.slider-bottom {
  display: none;
}

.radio-slider {
  margin-top: 69px;
  display: flex;
  min-height: 282px;
}

.radio-control::after {
  content: "";
  background-image: url(../img/shadow_line.png);
  position: absolute;
  top: 198px;
  left: 230px;
  height: 272px;
  width: 10px;
}

.radio-control {
  display: flex;
  flex-direction: column;
}

.radio-control label {
  background-color: #32425c;
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  padding: 13px 138px 17px 23px;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.radio-list {
  margin: 0;
  padding: 0;
  margin-left: 81px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.delivery-info {
  background-image: url(../img/delivery_auto.png);
  background-repeat: no-repeat;
  background-position: top 23px right 0px, right;
}

.delivery-info p {
  display: block;
  width: 277px;
}

.guarantee-info {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: top 1px right -8px, right;
}

.guarantee-info p {
  display: block;
  width: 378px;
}

.credit-info {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: top -1px right -10px, right;
}

.credit-btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ff5357;
  margin-top: 40px;
  border-radius: 3px;
  padding: 11px 44px;
}

.radio-control label[for="radio-guarantee"] {
  border-top: 1px solid #4d637b;
  border-bottom: 1px solid #4d637b;
}

.delivery-check:checked~.radio-list .delivery-info,
.guarantee-check:checked~.radio-list .guarantee-info,
.credit-check:checked~.radio-list .credit-info {
  display: block;
  flex-direction: column;
  flex-grow: 1;
}

.delivery-check:checked~.radio-control label[for="radio-delivery"],
.guarantee-check:checked~.radio-control label[for="radio-guarantee"],
.credit-check:checked~.radio-control label[for="radio-credit"] {
  background-color: #ffffff;
  color: #32425c;
}

.info-contacts__conteiner {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
  margin-bottom: 86px;
}

.info-company h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}

.info-company__top {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-top: 26px;
  letter-spacing: 0.1px;
  padding-bottom: 12px;
  width: 525px;
}

.info-company__bottom {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-top: 12px;
  letter-spacing: 0.1px;
  padding-bottom: 21px;
  width: 390px;
}

.delivery-company {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  padding-bottom: 23px;
}

.delivery-company li {
  padding-bottom: 20px;
  position: relative;
}

.red-line {
  display: block;
  background-color: #ee3643;
  width: 25px;
  height: 2px;
  position: absolute;
  top: 9px;
  left: -36px;
}

.info-company__btn {
  padding: 11px 40px 10px 40px;
  border-radius: 3px;
}

.info-company a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  letter-spacing: -0.7px;
  padding-bottom: 26px;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 31px;
  width: 180px;
}

.contacts a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  padding: 11px 59px 9px 64px;
  margin-top: 40px;
  border-radius: 3px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top h5 {
  margin: 0px;
}

.footer-bg_top {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background-color: #32425c;
}

.conteiner {
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-navigaton-top {
  display: flex;
  list-style: none;
  margin: 0px;
  width: 550px;
  justify-content: space-between;
  padding-top: 38px;
}

.footer__logo {
  display: block;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
  padding: 18px 41px 15px 42px;
  text-transform: uppercase;
  font-weight: 400;
}

h5 .footer__logo:hover,
h5 .footer__logo:focus {
  background-color: #ca2c37;
}

h5 .footer__logo:active {
  background-color: #ba2732;
}

.footer-navigaton-top {
  list-style: none;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  padding-bottom: 49px;
}

.footer-contacts {
  padding-left: 3px;
}

.footer-contacts__item {
  margin: 0px;
  width: 330px;
}

.footer-navigaton-bottom {
  list-style: none;
  display: flex;
  width: 526px;
  justify-content: space-between;
  margin: 0px;
}

.footer-navigaton-bottom a {
  color: #ffda96;
}

.footer-bg_bottom {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom__flex {
  display: flex;
  align-items: flex-start;
  padding-top: 35px;
  padding-bottom: 28px;
}

.footer-social ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  width: 133px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 24px;
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
  background-color: #ee3643;
}

.text-yellow {
  color: #ffd180;
}

.copyright {
  margin-right: auto;
  margin-top: 2px;
}

.copyright__item {
  margin: 0;
  width: 325px;
  width: 230px;
}

.feedback {
  margin-left: auto;
  margin-top: 2px;
}

.feedback-item {
  margin: 0;
}

.develop {
  margin-right: 14px;
  margin-left: 52px;
  margin-top: 2px;
}

.develop__item {
  margin: 0;
}

.modal-bg-top {
  background-color: #ffffff;
  background-image: url(../img/form-1.svg);
  background-repeat: no-repeat;
  background-position: top 55px left 80px, left;
}

.modal-bg-bottom {
  background-color: #f1f1f1;
}

.modal-order {
  color: #ffffff;
  background-color: #ee3643;
}

.modal-shopping {
  color: #000000;
  background: #ffffff;
}

.slidebar {
  display: flex;
}

.sort {
  display: flex;
}

.breadcrumbs {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 18px;
  margin-bottom: 17px;
}

.breadcrumbs li {
  margin-right: 41px;
  position: relative;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -22px;
  background-image: url(../img/icon-right-small.svg);
  width: 8px;
  height: 12px;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-current {
  text-transform: uppercase;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-left: 28px;
  padding-top: 30px;
  padding-bottom: 29px;
  letter-spacing: -0.9px;
}

.filters {
  padding-right: 20px;
  width: 220px;
}

.filters h4 {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  padding: 10px 150px 10px 18px;
  border-radius: 2px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.filter-range {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-range__item {
  width: 220px;
  margin-top: 14px;
  margin-bottom: 25px;
}

.filter-range legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
}

.filter-range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.filter-range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.filter-range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.filter-range-controls .toggle-min {
  left: 18px;
}

.filter-range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  position: relative;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 74px;
  padding: 10px 10px;
  font-size: 17px;
  text-align: center;
  color: #283136;
  line-height: 18px;
  border: none;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
}

.max-price::before {
  content: "—";
  position: absolute;
  top: 6px;
  right: 104px;
}

.price-range {
  height: 166px;
}

.filter-option {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 34px;
  padding-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input__checkbox+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  left: -35px;
  top: -1px;
}

.filter-input__checkbox:checked+label::before {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-input__radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  left: -35px;
  top: -1px;
}

.filter-input__radio:checked+label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-brands {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.filter-list {
  padding: 0;
  padding-top: 14px;
  padding-bottom: 2px;
  margin: 0;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 11px;
}

.filter-power {
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

.filter-spacing {
  letter-spacing: 0.4px;
}

.filter fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:last-of-type {
  border-bottom: none;
}

.form button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
}

.filter-btn {
  display: inline-block;
  padding: 6px 38px;
  font: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-top: 57px;
  border-radius: 3px;
}

.feedback-bg-top {
  background-color: #ffffff;
  margin-bottom: 37px;
  padding-top: 55px;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: inset 0 5px 0 0 #ff5357;
}

.feedback-bg-buttom {
  background-color: #f4f4f4;
}

.form-item__fb {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.btn {
  text-align: center;
  vertical-align: middle;
}

.catalog-conteiner {
  width: 700px;
}

.sort {
  background-color: #f7f3ec;
  padding-top: 7px;
  padding-left: 19px;
  padding-bottom: 7px;
  margin-bottom: 20px;
}

.sort-title {
  margin: 0;
  margin-right: auto;
}

.sort-list,
.direction-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  margin-right: 42px;
  width: 351px;
}

.direction-item {
  padding-right: 16px;
  padding-left: 6px;
}

.sort-list a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dashed #ee3643;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.sort-list a:active {
  text-decoration: none;
  color: #ee3643;
}

.text-red a {
  color: #ee3643;
  opacity: 1;
  border-bottom: none;
}

.pagination-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 67px;
}

.pagination-item {
  padding-right: 9px;
}

.pagination-item a {
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.active-page a {
  background-color: #ee3643;
  color: #ffffff;
}

.next-page a {
  padding-left: 31px;
  padding-right: 31px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.pagination-list a:active {
  border-color: #ee3643;
}

.devices-info {
  background-color: #f2f6f8;
}

.devices-info__title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-top: 65px;
  letter-spacing: -0.5px;
}

.devices-info p {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 68px;
}

.footer-navigaton-top a:hover,
.footer-navigaton-top a:focus,
.footer-navigaton-bottom a:hover,
.footer-navigaton-bottom a:focus {
  text-decoration: underline;
}

.footer-navigaton-top a:active,
.footer-navigaton-bottom a:active {
  opacity: 0.5;
}

.feedback a:hover,
.feedback a:focus,
.develop a:hover,
.develop a:focus {
  text-decoration: underline;
}

.feedback a:active,
.develop a:active {
  color: #ee3643;
}

.clear-margin-bottom {
  margin-bottom: 0;
}

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.7);
}

.modal-feedback {
  top: 25%;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  display: none;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: #fff;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 21px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-contacts-info {
  display: flex;
  margin-bottom: 10px;
}

.feedback-form input[type="text"] {
  box-sizing: border-box;
  width: 220px;
  padding: 10px 15px;
  border: 2px solid #b5b5b5;
}

.feedback-form input:focus {
  border-color: #ee3643;
}

.form-name__input {
  margin-right: 20px
}

.feedback-form textarea {
  box-sizing: border-box;
  width: 460px;
  padding: 10px 15px;
  border: 2px solid #b5b5b5;
}

.modal-button {
  display: inline-block;
  padding: 14px 196px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  margin: 37px 80px;
}

.modal-map {
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;
  display: none;
}

.modal-map p {
  padding: 0;
  margin: 0;
}

.modal-add {
  top: 50%;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  display: none;
}

.modal-bg-top {
  padding-top: 70px;
  padding-left: 180px;
  padding-right: 100px;
  padding-bottom: 75px;
  box-shadow: inset 0 5px 0 0 #ff5357;
}

.modal-bg-top h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.modal-conteiner {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.add-btn {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  margin-top: 37px;
  margin-bottom: 37px;
  width: 220px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 14px 0;
}

.modal-shopping {
  background-color: #ffffff;
  color: #000000;
}

.slider-top {
  position: relative;
}

.slides-switches::before {
  content: "";
  width: 22px;
  height: 40px;
  position: absolute;
  top: 114px;
  left: 25px;
  background-image: url(../img/icon-left.svg)
}

.slides-switches::after {
  content: "";
  width: 22px;
  height: 40px;
  position: absolute;
  top: 114px;
  left: 578px;
  background-image: url(../img/icon-right.svg)
}

.slider-control {
  position: absolute;
  left: 50%;
  bottom: 56px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-control i {
  display: inline-block;
  width: 8px;
  height: 8px;
  padding: 8px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control i::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slider-control .active::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  width: 7px;
  height: 7px;
  margin: -5px;
  background-color: #ee3643;
  border-radius: 50%;
}

.slides-switches {
  margin: 0;
  padding: 0;
}

.slide-radio {
  display: none;
}

.slide-radio:nth-child(2) {
  display: block;
}
